/*NAV BAR*/
.dropdown-toggle {
  background: black !important;
  margin-bottom: 3px; }

.brand-logo {
  margin-left: -100px; }

img {
  height: 55px;
  margin-bottom: 10px; }

/*Home Page*/
body {
  overflow: hidden; }

.colorTheme {
  background-color: black; }

.modal {
  background-color: rgba(255, 255, 255, 0) !important;
  border: none; }

.modal-open .modal {
  overflow: hidden !important;
  height: 800px; }

#playButton {
  background: rgba(255, 255, 255, 0.4); }

.overlay {
  margin-top: 1em;
  display: none;
  height: 95vh;
  max-height: 100vh;
  background-image: URL("../images/background.png");
  opacity: 1;
  background-size: cover;
  left: 0px; }
  .overlay h1 {
    padding-top: 2em;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px black; }

.overlayCModal {
  list-style-type: none;
  position: fixed;
  top: 35%;
  left: 37.5%;
  background: rgba(0, 0, 0, 0) !important;
  width: 25%;
  height: 25%;
  border-radius: 5px; }
  .overlayCModal li {
    margin-top: 1em; }
  .overlayCModal label {
    width: 100%;
    color: white;
    font-weight: bolder; }
  .overlayCModal label:hover {
    background-color: rgba(255, 255, 255, 0.4); }
  .overlayCModal fieldset {
    border: 2px solid white;
    padding-bottom: 4rem; }

.material {
  padding-top: 10.1px !important;
  padding-bottom: 3px;
  margin-right: 7px; }

.material-icons {
  font-size: 20px; }

.letters {
  display: inline-block;
  margin-top: -5px;
  height: 28px;
  padding-bottom: 26px; }
  .letters .s {
    padding-right: 5px;
    padding-left: 4px; }
  .letters .a {
    padding-right: 3px;
    padding-left: 3px; }
  .letters .d {
    padding-right: 3px;
    padding-left: 3px; }

/*///////MEDIA FOR IPAD PRO////////*/
@media only screen and (min-device-width: 767px) and (max-device-width: 1023px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #githubforkleft {
    visibility: hidden; }

  #githubforkright {
    visibility: visible; }

  img {
    margin-left: 60%; }

  .overlay {
    position: relative;
    background-repeat: no-repeat;
    background-size: 91%;
    max-width: 91%;
    max-height: 99%;
    top: 220px;
    left: 30px; } }
/*///////MEDIA FOR SCREENS ABOVE 1024PX////////*/
@media only screen and (min-device-width: 1024px) {
  #githubforkright {
    visibility: hidden; } }
/*///////MEDIA FOR SCREENS ABOVE IPAD 1024PX////////*/
@media only screen and (min-device-width: 1024px) and (orientation: portrait) {
  #githubforkright {
    visibility: hidden; }

  .overlay {
    position: relative;
    background-repeat: no-repeat;
    background-size: 91%;
    max-width: 91%;
    max-height: 99%;
    top: 220px;
    left: 80px;
    margin-left: 10px; } }
/*///////MEDIA FOR IPAD 767PX////////*/
@media only screen and (min-device-width: 767px) and (max-device-width: 1023px) {
  .overlay {
    position: relative;
    background-repeat: no-repeat;
    background-size: 91%;
    max-width: 91%;
    max-height: 99%;
    top: 220px;
    left: 70px;
    margin-left: 6px; } }
/*///////MEDIA FOR IPHONE6////////*/
@media only screen and (min-device-width: 374px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .overlayCModal {
    margin-left: 20px; }

  .overlay {
    position: relative;
    background-repeat: no-repeat;
    background-size: 91%;
    max-width: 91%;
    max-height: 99%;
    top: 220px;
    left: 70px;
    margin-left: 6px; } }
/*///////MEDIA FOR PHONES+IPAD-PRO////////*/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #githubforkleft {
    visibility: hidden; }

  body {
    position: default !important; }

  img {
    margin-left: 60%; }

  .overlayCModal {
    width: 200px;
    left: 35%; }
    .overlayCModal fieldset {
      padding-bottom: 0em !important; } }
/*///////MEDIA FOR IPHONE5////////*/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .mobileDevices {
    overflow-y: scroll !important; }

  .overlay {
    position: relative;
    background-repeat: no-repeat;
    background-size: 91%;
    max-width: 91%;
    max-height: 99%;
    top: 220px;
    left: 30.5px;
    right: 2px; }

  #githubforkleft {
    display: none; }

  h1 {
    padding-top: 1em !important; }

  body {
    overflow: none;
    position: default !important; }

  .overlayCModal {
    width: 200px;
    left: 20%; }
    .overlayCModal fieldset {
      padding-bottom: 0em !important; }

  .side-nav {
    width: 50%; }

  .right-column {
    padding-left: 0em;
    margin-left: 1em; }

  .letters {
    display: none; }

  img {
    margin-left: 60%; } }
/*Tetris Page*/
* {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%;
  background-color: "brown";
  opacity: .9;
  /*background-image: URL('http://geekandsundry.com/wp-content/uploads/2015/04/tumblr_static_video_20games_20tetris_20blocks_20retro_20games_201280x800_20wallpaper_www_wall321_com_13-970x545.jpg');
  background-size: cover;
  background-attachment: fixed;*/
  /*background-image: URL('../images/gameboy.png');*/
  background-position: 50% -30px;
  background-repeat: no-repeat; }

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: .7;
  z-index: -1; }

.grid {
  /*background-color: #9ead86;*/
  /*border: 1px solid #ddd;*/
  /*display: inline-block;*/
  /*padding: 1px;*/
  /*margin:;*/ }

input {
  z-index: 999; }

/*//////////////CONTROLLERS/////////////////////*/
#spacebar {
  size: 2em;
  width: 400px;
  height: 40px; }

/*//////////////SLAV/////////////////////*/
.row {
  margin: 0; }

.cell {
  border: 1px solid #ddd;
  width: 15px;
  height: 15px;
  background-color: #9ead86;
  /*display: inline-block;*/
  margin: 1px;
  /*vertical-align: top;*/ }

.right-column {
  vertical-align: top;
  display: inline-block;
  margin-left: 10px; }

nav {
  margin-bottom: 2em;
  background-color: black; }

/*# sourceMappingURL=main.css.map */
