<div class="colorTheme">

<div class="overlay hidden"></div>
<form class="example overlayCModal">
    <fieldset>
        <legend class="text-center" style="color:white">Options</legend>
        <div>
            <input class="btn btn-primary btn-lg btn-block" type="radio" id="play" name="tetris" checked focused>
            <label id="playButton" for="play">Play</label>
        </div>
        <div>
            <input type="radio" id="highScores" name="tetris" >
            <label id="highScoresButton" for="highScores" data-toggle="modal" data-target="#highScoreModal">High Scores</label>
        </div>
        <div>
            <input type="radio" id="howToPlay" name="tetris">
            <label for="howToPlay" id="howToPlayButton" data-toggle="modal" data-target="#howToPlayModal">How-To-Play</label>
        </div>
    </fieldset>
    <div class="progress" style="background-color:black">
    <div class="indeterminate" style="background-color:white"></div>
</div>
</form>

<div>

<!-- High Score Modal-->
<div class="modal fade bd-example-modal-lg" id="highScoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">All Time High Scores</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>High Scores....</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<!-- How To Play Modal-->
<div class="modal fade bd-example-modal-lg" id="howToPlayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel2">How To Play</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-condensed">
              <thead>
                <tr><th>Button</th><th>Move</th></tr>
              </thead>
              <tbody>
                <tr><th><kbd class="material"><i class="material-icons">keyboard_arrow_up</i></kbd> <kbd class="letters"><i class="material-icons">W</i></kbd></th><td>Rotate Block</td></tr>
                <tr><th><kbd class="material"><i class="material-icons">keyboard_arrow_down</i></kbd> <kbd class="letters"><i class="material-icons s">S</i></kbd></th><td>Move Down</td></tr>
                <tr><th><kbd class="material"><i class="material-icons">keyboard_arrow_left</i></kbd> <kbd class="letters"><i class="material-icons a">A</i></kbd></th><td>Move Left</td></tr>
                <tr><th><kbd class="material"><i class="material-icons">keyboard_arrow_right</i></kbd> <kbd class="letters"><i class="material-icons d">D</i></kbd></th><td>Move Right</td></tr>
                <tr><th><kbd class="material">Spacebar</kbd></th><td>Drop Block</td></tr>
                <tr><th><kbd class="material">P</kbd></th><td>Pause Game</td></tr>
                <tr><th><kbd class="material">F</kbd></th><td>Full-Screen Mode</td></tr>
                <tr><th><kbd class="material">Esc</kbd></th><td>Exit Game</td></tr>
              </tbody>
            </table>
      </div>

    </div>
  </div>
</div>
