<div ng-include="'partials/navbar.html'">
</div>
<input type="button" id="startGame" class="btn btn-success" name="" value="Start Game">

<div class="mobileDevices container">
    <div class="row">
      <div class="col-6">.col-6</div>
      <div class="col-6">.col-6</div>
    </div>
<div id="tetrisScreen" class="row">

            <div class="grid" id="tetris" class="col-8">

            </div>
            <div class="right-column col-4">
                <div id="next" class="grid">Next:</div>
                <div id="preview" class="grid"></div>
                <div class="grid">Score: <div id="score"> 0</div></div>
                <div id="time" class="grid"></div>
            </div>
<ul id="arrows">
                    <input type="button" id="endGame" class="btn btn-success" name="" value="End Game">
                    <input type="button" id="spacebar" value="Space (Drop Block)">
                        <li><input type="button" id="left" value="Left (Move Left)"></li>
                        <li><input type="button" id="right" value="Right (Move Right)"></li>
                        <input type="button" id="up" value="Up (Rotate Block)">
                        <input type="button" id="down" value="Down (Move Down)">
                    </ul>
</div>
        <div class="row">


        </div>
        <div>


</div>


</div>




