/*//////////FONT FACE//////////////*/
@import url(//fonts.googleapis.com/css?family=Press+Start+2P);
#base {
  border-radius: 15px;
  border-bottom-right-radius: 20%;
  position: absolute;
  background-image: linear-gradient(#ff0084, #ff4e06, rgba(139, 246, 0, 0.85));
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 100;
  top: 0;
  height: 750px;
  width: 450px; }
  @media only screen and (min-device-width: 1023px) {
    #base {
      height: 735px !important; } }

.as {
  width: 3px;
  height: 25px;
  background-color: #292b2c;
  position: absolute;
  margin: 0px 325px;
  margin-left: 90%; }

.l {
  width: 60px;
  height: 15px;
  background-color: black;
  border-radius: 30px;
  position: absolute;
  margin: 5px 35px; }

.l:before {
  content: ' ';
  width: 10px;
  height: 5px;
  background-color: black;
  position: absolute;
  margin: -5px 5px; }

.l:after {
  content: ' ';
  width: 2px;
  height: 5px;
  border-radius: 30%;
  background-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  margin: -5px 7px; }

.fa-caret-left {
  position: absolute;
  margin-left: 4px;
  color: RGBA(179, 178, 175, 1);
  font-size: 14px; }

.fa-caret-right {
  position: absolute;
  margin-left: 52px;
  color: RGBA(179, 178, 175, 1);
  font-size: 14px; }

.onoff {
  font-size: 9px;
  color: RGBA(255, 255, 255, 1);
  font-family: "Open Sans", sans-serif;
  margin-left: 11px;
  position: absolute;
  cursor: pointer; }

/* #### */
.screenbase {
  background-color: black;
  width: 400px;
  height: 450px;
  position: absolute;
  border-radius: 10px;
  border-bottom-right-radius: 60px;
  margin-top: 45px;
  margin-left: 25px; }

.h4 {
  position: absolute;
  font-size: 8px;
  margin-top: 7px;
  margin-left: 126px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: white;
  text-transform: uppercase; }

.llu {
  width: 100px;
  height: 2px;
  background-color: #75004b;
  position: absolute;
  margin-top: 10px;
  margin-left: 15px; }

.lld {
  width: 100px;
  height: 2px;
  background-color: RGBA(13, 0, 75, 1);
  position: absolute;
  margin-top: 15px;
  margin-left: 15px; }

.lru {
  width: 110px;
  height: 2px;
  background-color: #75004b;
  position: absolute;
  margin-top: 10px;
  margin-left: 270px; }

.lrd {
  width: 110px;
  height: 2px;
  background-color: #0d004b;
  position: absolute;
  margin-top: 15px;
  margin-left: 270px; }

.battery {
  width: 10px;
  height: 10px;
  background-color: red;
  box-shadow: inset 2px 2px 0px 0px black;
  border-radius: 50%;
  margin-top: 100px;
  margin-left: 15px; }

.screens {
  width: 220px;
  height: 415px;
  border-radius: 2px;
  border: 2px solid black;
  margin-top: -80px;
  margin-left: 55px;
  background-color: #495c1d;
  position: absolute; }

/* ##### */
.cntrls {
  width: 300px;
  height: 240px;
  margin-top: 275px;
  margin-left: 20px;
  position: absolute; }

.gbnin {
  font-size: 20px;
  margin-top: 11em;
  margin-left: .5em;
  color: black; }

.gbnin:before {
  content: 'FTRIS-';
  font-family: 'Droid Sans', sans-serif;
  font-weight: bold;
  font-size: 19px; }

.gbnin:after {
  content: 'GAME BOY';
  font-family: 'Droid Sans', sans-serif;
  font-style: italic;
  font-size: 19px; }

.h6 {
  color: #1c0b77;
  font-family: 'Droid Sans', sans-serif;
  margin-top: -13px;
  font-weight: bold;
  font-size: 9px;
  margin-left: 180px; }

i.shine {
  /*   positioning */
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  /*   gradient   */
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(1%, rgba(255, 255, 255, 0.03)), color-stop(30%, rgba(255, 255, 255, 0.85)), color-stop(50%, rgba(255, 255, 255, 0.85)), color-stop(70%, rgba(255, 255, 255, 0.85)), color-stop(71%, rgba(255, 255, 255, 0.85)), color-stop(100%, rgba(255, 255, 255, 0)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.03) 1%, rgba(255, 255, 255, 0.6) 30%, rgba(255, 255, 255, 0.85) 50%, rgba(255, 255, 255, 0.85) 70%, rgba(255, 255, 255, 0.85) 71%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#00ffffff',GradientType=1 );
  /* IE6-9 */
  /*  forming the shine element
  play around with the width, skew and gradient to get different effects
  */
  width: 15%;
  height: 100%;
  transform: skew(-10deg, 0deg);
  -webkit-transform: skew(-10deg, 0deg);
  -moz-transform: skew(-10deg, 0deg);
  -ms-transform: skew(-10deg, 0deg);
  -o-transform: skew(-10deg, 0deg);
  /*  animating it  */
  animation: move 2s;
  animation-iteration-count: 1;
  animation-delay: 1s;
  -webkit-animation: move 2s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 1s;
  -moz-transform: skew(-10deg, 0deg);
  -moz-animation: move 2s;
  -moz-animation-iteration-count: 1;
  -moz-animation-delay: 1s;
  -ms-transform: skew(-10deg, 0deg);
  -ms-animation: move 2s;
  -ms-animation-iteration-count: 1;
  -ms-animation-delay: 1s;
  -o-transform: skew(-10deg, 0deg);
  -o-animation: move 2s;
  -o-animation-iteration-count: 1;
  -o-animation-delay: 1s; }

/*  */
@keyframes move {
  0% {
    left: 0;
    opacity: 0; }
  5% {
    opacity: 0.0; }
  48% {
    opacity: 0.2; }
  80% {
    opacity: 0.0; }
  100% {
    left: 82%; } }
@-webkit-keyframes move {
  0% {
    left: 0;
    opacity: 0; }
  5% {
    opacity: 0.0; }
  48% {
    opacity: 0.2; }
  80% {
    opacity: 0.0; }
  100% {
    left: 82%; } }
@-moz-keyframes move {
  0% {
    left: 0;
    opacity: 0; }
  5% {
    opacity: 0.0; }
  48% {
    opacity: 0.2; }
  80% {
    opacity: 0.0; }
  100% {
    left: 88%; } }
@-ms-keyframes move {
  0% {
    left: 0;
    opacity: 0; }
  5% {
    opacity: 0.0; }
  48% {
    opacity: 0.2; }
  80% {
    opacity: 0.0; }
  100% {
    left: 82%; } }
@-o-keyframes move {
  0% {
    left: 0;
    opacity: 0; }
  5% {
    opacity: 0.0; }
  48% {
    opacity: 0.2; }
  80% {
    opacity: 0.0; }
  100% {
    left: 82%; } }
.containermetal {
  position: fixed;
  top: 33vh;
  left: 1%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: -1; }

.containermetal2 {
  position: fixed;
  top: 66vh;
  left: 1%;
  transform: translate(-50%, -50%);
  display: flex;
  z-index: -1; }

.metal {
  position: relative;
  bottom: 20px;
  width: 20vw;
  height: 70px;
  background: linear-gradient(to bottom, #b1adad 0%, #fefefe 8%, #fefefe 34%, #a1a0a0 62%, #393536 66%, #8d8989 77%, #aba7a7 91%, #716d6d 100%);
  border-top-right-radius: 20% 80%;
  border-bottom-right-radius: 20% 80%;
  display: flex; }
  .metal:before, .metal:after {
    content: '';
    display: block;
    width: 2px;
    height: 72px;
    background: linear-gradient(to bottom, #8f8d8d 0%, #e8e8e8 8%, #dedede 34%, #8a8a8a 62%, #292727 66%, #6b6868 77%, #999696 91%, #575454 100%);
    margin-left: 5px; }

/*NAV BAR*/
.btn-sm {
  background: #1f60b4;
  margin-bottom: 3px; }

.btn-lg {
  background: #3ec140; }

.btn:hover {
  background-color: #1f60b4; }

.btn-sm:hover {
  background-color: black; }

.brand-logo {
  margin-left: -100px; }

.invis {
  display: none; }

img {
  height: 55px;
  margin-bottom: 10px; }

nav {
  background-color: #1f60b4; }

/*1v1*/
.jumbotron {
  border-radius: 0 !important;
  background: black;
  padding-left: 20% !important;
  padding-right: 20% !important;
  padding-bottom: 20% !important;
  color: wheat;
  margin-bottom: 0 !important; }
  @media only screen and (max-device-width: 700px) {
    .jumbotron h1 {
      font-size: 2em !important; } }

#progressbar {
  position: absolute;
  z-index: 10;
  font-weight: bolder;
  color: white;
  text-align: center; }

/*Home Page*/
.blinks {
  animation: blinker .9s linear infinite; }

.pauseGame {
  margin-top: 6em; }

.right-column i.close {
  color: white;
  opacity: .9;
  float: left;
  margin-left: .1em; }

.howtoclose {
  position: relative;
  top: 20px;
  right: 20px; }

.mobileDevices {
  margin-top: 1em;
  color: white;
  position: absolute;
  height: 80vh;
  left: 40%; }

#mobileDevice {
  height: 80vh;
  width: 47vh; }

.blink_me {
  font-family: 'Press Start 2P';
  font-size: 11px;
  animation: blinker .9s linear infinite;
  color: yellow;
  font-weight: bolder;
  position: relative;
  left: 16.5%;
  top: 5%; }

@keyframes blinker {
  50% {
    opacity: 0; } }
body {
  overflow: hidden;
  background: beige; }

.colorTheme {
  background-color: black; }

.table td, .table th {
  border-top: none !important;
  padding: .3rem !important;
  padding-top: 8px !important; }

.modal {
  background-color: rgba(255, 255, 255, 0.5);
  border: none; }

.modal-content {
  padding: 0 !important;
  margin-top: -20px;
  border-radius: 2%; }

.highscoremodal {
  margin-top: 0px !important;
  padding: 20px !important; }

.modal-body {
  padding: 0 !important;
  margin-bottom: 1em !important;
  border-radius: 5%; }

.modal-header {
  margin-bottom: -1em; }

.modal-open .modal {
  overflow: hidden !important;
  height: 800px;
  padding-right: 0 !important;
  background: rgba(20, 254, 192, 0.76);
  border-radius: 5%; }
  .modal-open .modal li {
    border-radius: 5%;
    border: none !important; }
  .modal-open .modal ul {
    border-radius: 5%;
    border: none !important; }
  .modal-open .modal tbody {
    border: none !important; }

#playButton {
  background: rgba(255, 255, 255, 0.4); }

.overlay {
  display: none;
  height: 100vh;
  max-height: 100vh;
  background-image: URL("../images/background.png");
  opacity: 1;
  background-size: cover;
  left: 0px;
  overflow: none; }
  .overlay h1 {
    padding-top: 2em;
    color: white;
    font-weight: bolder;
    text-shadow: 2px 2px black; }

.overlayCModal {
  list-style-type: none;
  position: fixed;
  top: 35%;
  left: 35.5%;
  background: rgba(0, 0, 0, 0) !important;
  width: 27%;
  height: 25%;
  border-radius: 5px;
  padding-right: 0 !important;
  padding-left: 0 !important; }
  .overlayCModal li {
    margin-top: 1em;
    padding-right: 0 !important; }
  .overlayCModal label {
    width: 100%;
    padding-right: 2em !important;
    font-weight: bolder;
    font-size: 500px;
    color: black;
    font-family: 'Press Start 2P'; }
  .overlayCModal label:hover {
    background-color: rgba(255, 255, 255, 0.4) !important;
    padding-right: 0 !important; }
  .overlayCModal .hoverclass {
    padding-right: 0 !important; }
  .overlayCModal fieldset {
    border: 15px solid white;
    padding-bottom: 4rem;
    padding-right: 0 !important;
    border-radius: 10%; }
  .overlayCModal legend {
    padding-right: 0 !important;
    font-family: 'Press Start 2P'; }

.material {
  padding-top: 10.1px !important;
  padding-bottom: 3px;
  margin-right: 7px; }

.material-icons {
  font-size: 20px; }

.letters {
  display: inline-block;
  margin-top: -5px;
  height: 28px;
  padding-bottom: 26px; }
  .letters .s {
    padding-right: 5px;
    padding-left: 4px; }
  .letters .a {
    padding-right: 3px;
    padding-left: 3px; }
  .letters .d {
    padding-right: 3px;
    padding-left: 3px; }

.toast {
  background: green; }

#endGame {
  position: relative;
  top: -4em;
  left: -6em; }

#tetrisScreen {
  position: relative;
  left: 3.5em;
  top: 3.5em; }

span.badge {
  margin-top: .3em;
  color: white;
  background: green; }

.wrapper {
  z-index: -1;
  position: absolute;
  color: black !important;
  top: 100%;
  left: 50%;
  width: 400px;
  margin-left: -200px;
  font-family: 'Press Start 2P';
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  animation: 20s credits linear infinite; }
  .wrapper .movie {
    margin-bottom: 50px;
    font-size: 50px;
    width: 600px;
    margin-left: -2em; }
  .wrapper .job {
    margin-bottom: 5px;
    font-size: 16px; }
  .wrapper .name {
    margin-bottom: 50px;
    font-size: 23px; }

@keyframes credits {
  0% {
    top: 56vh; }
  100% {
    top: -58vh; } }
@media only screen and (min-device-width: 767px) {
  @keyframes credits {
    0% {
      top: 69vh; }
    100% {
      top: -70vh; } } }
/*///////MEDIA FOR IPAD PRO////////*/
@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  img {
    margin-left: 17%; }

  .overlay {
    position: relative;
    background-repeat: no-repeat;
    background-size: 91%;
    max-width: 91%;
    max-height: 99%;
    top: 200px !important;
    left: 30px; }

  .overlayCModal {
    left: 31.5%;
    width: 40%; }

  .mobileDevices {
    margin-top: -1em; } }
/*///////MEDIA FOR SCREENS ABOVE IPAD LANDSCAPE////////*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .letters {
    display: show; }

  .blink_me {
    position: relative !important;
    margin-left: -1.2em !important;
    font-size: 16px !important; }

  .howtoplaymodal {
    margin-top: -1em !important; }

  .overlay {
    top: 140px !important;
    left: 87px !important; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .blink_me {
    margin-left: -3.3em !important; } }
@media only screen and (min-device-width: 1023px) and (max-device-width: 1444px) {
  .blink_me {
    margin-left: -2.5rem !important;
    font-size: 1em !important; }

  .overlay {
    left: 3.5em !important; }

  .screenbase {
    margin-top: 21px !important;
    height: 430px !important; }

  #tetris {
    margin-top: -.5em; }

  #base {
    height: 750px !important; }

  .gbnin {
    margin-top: 8.5em !important; }

  .screens {
    margin-top: -93px !important;
    height: 410px !important; }

  .system {
    margin-top: 1.7em !important; }

  .right-column {
    margin-top: -3em !important; }

  .overlayCModal {
    width: 29% !important; } }
@media only screen and (min-device-width: 700px) and (max-device-width: 1444px) {
  .bigone {
    height: 100vh !important; }

  .register {
    margin-top: -1em; } }
@media only screen and (min-device-width: 1279px) and (max-device-width: 1399px) {
  .blink_me {
    margin-left: -2em !important;
    font-size: 1.2em !important; } }
@media only screen and (min-device-width: 1400px) and (max-device-width: 1499px) {
  .blink_me {
    margin-left: -2.3rem !important;
    font-size: 1.2em !important; }

  .howtoplaymodal {
    margin-top: -1em !important; } }
@media only screen and (min-device-width: 1646px) and (max-device-width: 1800px) {
  .blink_me {
    padding-left: 3em; } }
/*///////MEDIA FOR SCREENS ABOVE IPAD PORTRAIT////////*/
@media only screen and (min-device-width: 767px) {
  #progressbar {
    top: 20%;
    font-size: 25px;
    left: 32%; }

  .right-column i.close {
    margin-left: -.2em; }

  .overlay {
    position: relative;
    background-repeat: no-repeat;
    background-size: 91%;
    max-width: 102%;
    max-height: 99%;
    margin-left: 10px;
    top: 6em !important;
    left: 5.5em !important; }

  .control-buttons {
    right: -.7em !important; }

  .mobileDevices {
    left: 34vw !important;
    top: 2%; }

  #tetris2 {
    margin-top: 2.5em;
    position: relative !important;
    left: .4em !important;
    top: 0 !important; }
    #tetris2 .cell {
      width: 8px !important;
      height: 8px !important; }

  .grid {
    margin-bottom: -2em; }

  #next {
    margin-bottom: 1em !important; }

  #pauseGame {
    margin-top: 10px !important; }

  .overlayCModal {
    left: 30.3% !important; }
    .overlayCModal label {
      font-size: 1em !important;
      padding-left: 1em !important; }
    .overlayCModal fieldset {
      height: 245px; } }
@media only screen and (min-device-width: 1500px) and (max-device-width: 1800px) {
  .blink_me {
    margin-top: 1em !important;
    margin-left: -2em !important;
    font-size: 1.4em !important; }

  .overlay {
    background-size: 92%;
    margin-left: 2.8em !important;
    width: 100% !important;
    background-repeat: no-repeat;
    top: 2em !important;
    left: 1em !important; }

  .overlayCModal {
    top: 330px;
    left: 35.5% !important; }

  .modal-content {
    margin-top: 3em !important; }

  .howtoplaymodal {
    margin-top: 1em !important; }

  .howtoclose {
    position: relative !important;
    right: -61px !important; } }
/*///////MEDIA FOR IPAD 767PX PORTRAIT FORREAL////////*/
@media only screen and (min-device-width: 767px) and (max-device-width: 1023px) {
  .overlay {
    position: relative;
    background-repeat: no-repeat;
    background-size: 91%;
    max-width: 92%;
    max-height: 99%;
    top: 220px !important;
    left: 69px !important;
    margin-left: 4px; }

  .mobileDevices {
    left: 11em !important; }

  img {
    margin-left: 63% !important; }

  .control-buttons {
    right: -.7em !important; }

  #tetris2 {
    margin-left: 1.5em;
    margin-top: 3.4em !important; } }
/*IPAD ORIENTATION LANDSCAPE FORREAL*/
@media only screen and (min-device-width: 767px) and (max-device-width: 1024px) and (orientation: landscape) {
  #progressbar {
    left: 34%; }

  .overlay {
    position: relative;
    background-repeat: no-repeat;
    background-size: 91%;
    max-width: 91%;
    max-height: 99%;
    top: 77px !important;
    left: 90px !important;
    margin-left: 6px; }

  .overlayCModal {
    left: 29.9% !important; }

  img {
    margin-left: 14% !important; }

  .mobileDevices {
    margin-top: .1em !important;
    left: 18em !important; }

  #base {
    height: 731px !important; }

  #tetris2 {
    margin-top: 3.1em !important; }

  .right-column {
    margin-left: -.3em; } }
@media only screen and (min-device-width: 1279px) {
  .overlayCModal label {
    font-size: 1em !important;
    padding-left: 1.6em !important; }

  .devname {
    text-align: right !important; }

  #progressbar {
    left: 39%; }

  .mobileDevices {
    margin-top: 8vh !important; } }
@media only screen and (min-device-width: 1000px) and (orientation: portrait) {
  .jumbotron {
    height: 100vh; } }
@media only screen and (min-device-width: 1500px) {
  .overlayCModal label {
    font-size: 1.5em !important; } }
/*///////MEDIA FOR PHONES+IPAD-PRO LANDSCAPE////////*/
@media only screen and (min-device-width: 320px) and (max-device-width: 767px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  body {
    position: default !important; }

  img {
    margin-left: 60%; }

  .overlayCModal {
    width: 200px;
    left: 35%; }
    .overlayCModal fieldset {
      padding-bottom: 0em !important; } }
/*///////MEDIA FOR IPHONE5 PORTRAIT////////*/
@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
  #progressbar {
    top: 14%;
    left: 11.5%;
    font-size: 25px !important; }

  .scrollable {
    overflow-y: scroll !important; }

  #pauser {
    font-size: 20px;
    margin-left: 3px !important; }

  #tetris2 {
    top: 9em !important;
    left: 10% !important; }
    #tetris2 .cell {
      width: 4px !important;
      height: 4px !important; }

  .signinjumbo {
    padding: 1.3em !important; }

  * {
    padding-right: 0 !important;
    padding-left: 0 !important;
    padding-top: 0 !important;
    padding-top: 0 !important;
    max-height: 100vh;
    max-width: 100vh; }

  .blink_me {
    color: yellow;
    font-weight: bolder;
    left: 9.6% !important;
    font-size: 9px; }

  label {
    padding-left: 30px !important;
    font-size: 11px !important; }

  .mobileDevices {
    left: 2em;
    margin-top: 2px !important; }

  .overlay {
    position: relative !important;
    background-repeat: no-repeat;
    background-size: 91%;
    max-width: 102%;
    top: 148px !important;
    left: 2em !important; }

  h1 {
    padding-top: 1em !important; }

  body {
    overflow: none !important;
    position: default !important;
    height: 100vh; }

  .overlayCModal {
    width: 71.5% !important;
    left: 13.5% !important; }
    .overlayCModal fieldset {
      padding-bottom: 0em !important; }
    .overlayCModal label {
      padding: 0 !important;
      padding-left: .5em !important;
      margin-left: -.2em !important; }
    .overlayCModal #multiButton, .overlayCModal #howToPlayButton {
      padding-left: .1em !important; }
    .overlayCModal #highScoresButton {
      padding-left: .1em !important; }

  .side-nav {
    width: 50%; }

  .grid {
    margin-left: 1.5em !important;
    z-index: 8 !important; }

  .right-column {
    margin-left: 2.5em !important;
    margin-top: -2.5em !important;
    max-width: 110px;
    position: absolute !important;
    top: 1em !important;
    left: 25%;
    z-index: 8 !important; }
    .right-column .grid {
      margin-bottom: -30px;
      margin-left: 10px !important; }
    .right-column #preview {
      margin-left: 20px !important; }
    .right-column #next {
      margin-bottom: 0px !important; }
    .right-column #highScore {
      margin-bottom: -2em; }
    .right-column #level {
      margin-bottom: 1em; }

  #tetrisScreen {
    margin-top: -1em !important;
    margin-left: 1em !important;
    max-width: 99%; }
    #tetrisScreen #tetris {
      margin-top: 1em;
      margin-left: -1em !important; }

  .control-buttons {
    margin-right: 85px !important;
    top: 2.1em !important; }
    .control-buttons .label {
      font-size: .8rem !important;
      top: -7px !important; }

  .menu-buttons {
    left: .2em;
    height: 20px; }
    .menu-buttons .menu {
      margin-top: .12em !important; }

  .d-pad {
    top: -.7em; }
    .d-pad p {
      margin-top: .8em; }

  #pauseGame {
    margin-top: -1em;
    margin-left: .2em !important;
    margin-bottom: .1em; }

  #time {
    margin-top: -1em; }

  #endGame {
    position: absolute !important;
    left: 13em !important;
    top: 18em; }

  .system {
    margin-top: 2.1em !important;
    margin-left: 1em !important; }
    .system .d-pad {
      top: -.6em !important;
      right: .3em !important; }
      .system .d-pad .label {
        display: none; }
      .system .d-pad #d-up {
        top: 1.5em;
        width: 1.5em;
        height: 1.5em; }
      .system .d-pad #d-left {
        width: 1.5em;
        height: 1.5em;
        left: -.5em; }
      .system .d-pad #d-right {
        width: 1.5em;
        height: 1.5em;
        right: -1em; }
      .system .d-pad #d-down {
        width: 1.5em;
        height: 1.5em;
        top: 4.5em; }

  .letters {
    display: none; }

  img {
    margin-left: 62%; }

  .modal-open {
    font-size: 10px;
    border: 0 !important;
    margin: 0 !important;
    padding-bottom: 0em !important;
    overflow: auto; }
    .modal-open .table {
      margin-left: 1em !important; }
    .modal-open .modal-header {
      padding-bottom: 0;
      margin-top: -15px;
      border-bottom: none !important;
      margin-bottom: -5px; }
    .modal-open .fa-bars {
      margin-top: .5em;
      margin-right: .5em; }
    .modal-open .howtofabar {
      margin-top: -2.8em;
      margin-right: -1em; }

  .modal-content {
    margin-top: -6px !important;
    margin-bottom: -2px !important;
    height: 400px !important; }

  .modal-body {
    padding-bottom: 20px !important;
    margin-bottom: -40px !important; }

  .browser-buttons {
    display: none; }

  .modal-open .modal {
    height: 52% !important; }

  .howtoplaymodal {
    margin-top: 25px !important;
    height: 220px !important; }

  .cell {
    width: 10px !important;
    height: 10px !important; }

  #highScoreModal {
    height: 320px !important; }
    #highScoreModal button {
      margin-top: -1em;
      margin-right: -1em; }

  .highscoremodal {
    margin-top: -5px !important;
    margin-bottom: 10px !important;
    height: 311px !important; }

  .howtoclose {
    top: 1.3em; }

  .battery {
    margin-top: 50px;
    margin-left: 5px; }

  #base {
    width: 303px;
    height: 457px;
    margin-left: -.7em !important; }
    #base .screens {
      width: 138px;
      margin-left: 22px;
      top: 3.9em;
      height: 254px; }
    #base .screenbase {
      width: 260px;
      margin-top: 1em;
      height: 274px; }
    #base .h6 {
      position: absolute;
      top: -27.5em !important;
      left: 6.5em !important; }

  .llu {
    width: 25px;
    height: 2px;
    background-color: #75004b;
    position: absolute;
    margin-top: 10px;
    margin-left: 11px; }

  .lld {
    width: 25px;
    height: 2px;
    background-color: RGBA(13, 0, 75, 1);
    position: absolute;
    margin-top: 15px;
    margin-left: 11px; }

  .h4 {
    margin-left: 40px; }

  .lru {
    width: 25px;
    height: 2px;
    background-color: #75004b;
    position: absolute;
    margin-top: 10px;
    margin-left: 185px; }

  .lrd {
    width: 25px;
    height: 2px;
    background-color: #0d004b;
    position: absolute;
    margin-top: 15px;
    margin-left: 185px; }

  .gbnin {
    left: 3.3em;
    top: -24.8em;
    position: absolute;
    color: black; }

  .llu, .lld, .lru, .lrd {
    left: .2em;
    width: 40px; }

  .llu, .lld {
    left: -.2em; }

  .lru, .lrd {
    left: .4em; }

  .h4 {
    left: 1.3em; }

  .movie {
    margin-left: -3.8em !important;
    font-size: 17px !important; }

  .job {
    font-size: 9px !important; }

  .name {
    font-size: 13px !important; } }
@media only screen and (min-device-width: 300px) and (max-device-width: 767px) {
  .overlay {
    width: 330px;
    left: 8.5px !important; } }
/*IPHONE6*/
@media only screen and (min-device-width: 360px) and (max-device-width: 767px) {
  .movie {
    margin-left: -5.8em !important; }

  .blink_me {
    left: 14% !important; }

  .right-column {
    margin-left: 3em !important; }

  .overlay {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 91%;
    width: 104%;
    max-height: 99%;
    top: 170px !important;
    left: 13px !important; }

  .howtoplaymodal {
    margin-top: 40px !important; }

  .control-buttons {
    position: absolute;
    margin-right: 1.7em !important;
    right: -.4em !important; }
    .control-buttons .label {
      top: -.9em !important; }

  #base {
    height: 580px !important;
    width: 350px !important; }

  .screenbase {
    width: 290px !important;
    margin-top: 1em !important;
    height: 320px !important; }

  .cell {
    width: 12px !important;
    height: 12px !important; }

  .system {
    margin-top: 2.7em !important; }
    .system .menu-buttons {
      height: 23px !important; }

  .screens {
    width: 156px !important;
    margin-left: 22px !important;
    top: 3.9em !important;
    height: 296px !important; }

  .gbnin {
    top: -7.7em !important;
    left: 0 !important; }

  .h6 {
    margin-top: 36em !important;
    margin-left: 14em !important; }

  .llu, .lld, .lru, .lrd {
    left: .5em;
    width: 60px; }

  .llu, .lld {
    margin-left: -6px; }

  .lru, .lrd {
    margin-left: 206px; }

  .h4 {
    left: 4em; }

  #tetris2 {
    margin-left: .8em !important;
    margin-top: 5em !important; }

  label#playButton {
    padding-left: .1em !important; }

  .overlayCModal div {
    position: relative;
    left: 10.5px !important; }
  .overlayCModal label {
    margin-left: -1.2em !important; } }
@media only screen and (min-device-width: 411px) and (max-device-width: 412px) {
  #tetris2 {
    margin-left: .7em !important; } }
@media only screen and (min-device-width: 412px) and (max-device-width: 767px) {
  #tetris2 {
    margin-left: .7em !important; }

  .right-column {
    margin-left: 3em !important; } }
/*Tetris Page*/
* {
  margin: 0;
  padding: 0; }

body, html {
  height: 100%; }

canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: .7;
  z-index: -1; }

.grid {
  /*background-color: #9ead86;*/
  /*border: 1px solid #ddd;*/
  /*display: inline-block;*/
  /*padding: 1px;*/
  margin-top: 2em;
  margin-left: 20px; }

input {
  z-index: 3; }

#spacebar {
  size: 2em;
  width: 400px;
  height: 40px; }

.row {
  margin: 0; }

.cell {
  border: 1px solid #ddd;
  width: 18px;
  height: 18px;
  background-color: #6a7941;
  /*display: inline-block;*/
  margin: 1px;
  /*vertical-align: top;*/ }

.right-column #score {
  display: inline-block; }
.right-column #level {
  display: inline-block; }

.mobileDevices {
  width: 600px; }

#tetrisScreen {
  margin-left: 2em;
  width: 400px; }

#tetris2 {
  position: absolute;
  left: 63%;
  top: 4em; }

/*//////////////CONTROLLERS/////////////////////*/
/* COLORS VARIABLES */
.system {
  font-size: 16px; }
  @media screen and (min-width: 220px) {
    .system {
      font-size: 18px; } }
  @media screen and (min-width: 240px) {
    .system {
      font-size: 20px; } }
  @media screen and (min-width: 260px) {
    .system {
      font-size: 22px; } }
  @media screen and (min-width: 280px) {
    .system {
      font-size: 24px; } }
  @media screen and (min-width: 300px) {
    .system {
      font-size: 26px; } }
  @media screen and (min-width: 320px) {
    .system {
      font-size: 28px; } }
  @media screen and (min-width: 340px) {
    .system {
      font-size: 30px; } }
  @media screen and (min-width: 360px) {
    .system {
      font-size: 32px; }
      .system .control-buttons {
        right: 1.7em !important; } }
  @media screen and (min-width: 380px) {
    .system {
      font-size: 34px; } }
  @media only screen and (min-width: 411px) {
    .system {
      font-size: 36px; }
      .system .control-buttons {
        margin-right: .8em !important; }
      .system #tetris2 {
        position: absolute;
        top: 15em !important; } }
  @media screen and (min-width: 420px) {
    .system {
      font-size: 38px; } }
  @media screen and (min-width: 440px) {
    .system {
      font-size: 40px; } }
  @media only screen and (min-device-width: 1024px) {
    .system .control-buttons {
      position: absolute !important;
      margin-right: 0em !important; } }

.system {
  margin-left: .5em;
  float: left;
  padding: 1em;
  padding-bottom: 2em;
  margin-top: 2.1em; }

.system .screen {
  width: 320px;
  max-width: 100%; }
.system .controls {
  position: relative;
  padding-bottom: 1em;
  cursor: pointer; }
.system .button {
  cursor: pointer;
  box-shadow: 0 0 3px 1px #555;
  color: #474881;
  text-align: center; }
  .system .button:hover {
    box-shadow: 0 0 5px 1px #333; }
  .system .button:active {
    box-shadow: 0 0 5px 1px #333 inset; }
  .system .button .label {
    font-size: .4em;
    position: relative;
    text-transform: uppercase; }
.system .d-pad {
  width: 3em;
  height: 3em;
  position: relative;
  top: -.5em; }
.system .d {
  width: 1em;
  height: 1em;
  background: #1d1f20;
  position: absolute;
  border-top: 0.05em solid #7e878b;
  border-bottom: 0.05em solid black; }
  .system .d:hover, .system .d:active {
    background: #414648; }
.system .up {
  left: 1em;
  top: 2em;
  border-radius: .25em .25em 0 0; }
  .system .up .label {
    top: -5.5em; }
  .system .up .labelfont {
    font-size: .9rem;
    color: #fff; }
.system .right {
  top: 3em;
  right: 0;
  border-radius: 0 .25em .25em 0; }
  .system .right .label {
    top: -3.5em;
    right: -2em; }
  .system .right .labelfont {
    font-size: .9rem;
    color: #fff; }
.system .down {
  left: 1em;
  top: 4em;
  border-radius: 0 0 .25em .25em; }
  .system .down .label {
    top: -1.5em; }
  .system .down .labelfont {
    font-size: .9rem;
    color: #fff; }
.system .left {
  top: 3em;
  left: 0;
  border-radius: .25em 0 0 .25em; }
  .system .left .label {
    top: -3.5em;
    left: -2em; }
  .system .left .labelfont {
    font-size: .9rem;
    color: #fff; }
.system .control-buttons {
  position: absolute;
  right: 0em !important;
  top: 2em;
  background: #f5f5f5;
  border-radius: 1em; }
  @media only screen and (min-device-width: 768px) and (max-device-width: 1000px) {
    .system .control-buttons {
      right: -.8em !important; } }
.system .control {
  background: #292b2c;
  width: 1.5em;
  height: 1.5em;
  border-radius: 1.5em;
  float: left;
  margin: .25em;
  border-top: 0.05em solid #8d9294;
  border-bottom: 0.05em solid black; }
  .system .control:hover, .system .control:active {
    background: #353839; }
  .system .control .label {
    top: -1em;
    color: white;
    font-size: .9rem; }
.system .menu-buttons {
  position: absolute;
  background: #f5f5f5;
  top: 0em;
  left: -.2em;
  border-radius: 2em; }
.system .menu {
  background: #292b2c;
  width: 3.5em;
  height: .5em;
  border-radius: .4em;
  float: right;
  margin: .25em;
  border-top: 0.05em solid #424546;
  border-bottom: 0.05em solid #101112; }
  .system .menu:hover, .system .menu:active {
    background: #353839; }
  .system .menu .label {
    top: -2em;
    color: white; }

.grid {
  z-index: 8 !important; }

.right-column {
  z-index: 8 !important; }
  .right-column #score, .right-column #pauseGame, .right-column #time {
    margin-top: -.5em; }
  .right-column #preview {
    margin-left: 2em;
    margin-top: -.1em;
    margin-bottom: -2em; }
  .right-column #highScore {
    margin-bottom: -1em; }
  .right-column i.close {
    color: white; }

@media only screen and (max-width: 737px) and (orientation: landscape) {
  .body::after {
    content: "Landscape Mode on IPhones Is Currently Unavailable. Revert Back To Portrait To Continue..."; }

  #ngview {
    display: none; } }
.frame {
  padding-top: 1em;
  margin-top: 13.5vh !important;
  background-color: white;
  border: solid 3vmin #eee;
  border-bottom-color: black;
  border-left-color: white;
  border-radius: 2px;
  border-right-color: white;
  border-top-color: black;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.25) inset, 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: inline-block;
  margin: 10vh 13.5vw;
  padding-left: 1vmin;
  padding-right: 1vmin;
  position: relative;
  left: -8em;
  text-align: center; }
  @media screen and (max-width: 1025px) and (orientation: landscape) {
    .frame {
      display: none; } }
  @media only screen and (orientation: portrait) {
    .frame {
      display: none; } }
  @media screen and (min-width: 1300px) {
    .frame {
      width: 388px; } }
  .frame table, .frame tbody {
    border: none !important; }
  .frame .modal-content {
    border: none !important; }
  .frame:before {
    border-radius: 2px;
    bottom: -2vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25) inset;
    content: "";
    left: -2vmin;
    position: absolute;
    right: -2vmin;
    top: -2vmin; }
  .frame:after {
    border-radius: 2px;
    bottom: -2.5vmin;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    content: "";
    left: -2.5vmin;
    position: absolute;
    right: -2.5vmin;
    top: -2.5vmin; }

.frame2 {
  position: absolute;
  left: 58vw !important;
  top: 7.5vh !important; }

.frame3 {
  position: absolute;
  left: 58vw !important;
  bottom: 4vw !important; }

.l {
  z-index: 99; }

/*OVERRIDING BOOTSTRAP/MATERIALIZE*/
#sidenav-overlay {
  z-index: 1; }

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  background-color: #00ff71; }

[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
  border: 2px solid rgba(0, 0, 0, 0.85); }

progress {
  height: 14px;
  margin: 50px auto;
  display: block;
  /* Important Thing */
  -webkit-appearance: none;
  border: none; }

/* All good till now. Now we'll style the background */
progress::-webkit-progress-bar {
  border-radius: 50px;
  background: -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, white, white), -webkit-linear-gradient(left, white, black); }

/* Now the value part */
progress::-webkit-progress-value {
  border-radius: 50px;
  box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
  background: -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, green, white), -webkit-linear-gradient(left, #ba7448, #c4672d);
  /* Looks great, now animating it */
  background-size: 25px 14px, 100% 100%, 100% 100%;
  -webkit-animation: move 5s linear 0 infinite; }

/* That's it! Now let's try creating a new stripe pattern and animate it using animation and keyframes properties  */
@-webkit-keyframes move {
  0% {
    background-position: 0px 0px, 0 0, 0 0; }
  100% {
    background-position: -100px 0px, 0 0, 0 0; } }
/* Prefix-free was creating issues with the animation */

/*# sourceMappingURL=main.css.map */
