<div ng-if="!gameMade" ng-include="'partials/navbar.html'">
</div>
<div class="space space1" style="display:none">
  <svg class="background__lights" id="lines" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewbox="0 0 1920 1080" xml:space="preserve" preserveAspectRatio="none">
    <g class="lines">
      <rect class="line" x="10" width="4.5" height="1080"></rect>
      <rect class="line" x="873.3" width="1.8" height="1080"></rect>
      <rect class="line" x="1100" width="1.8" height="1080"></rect>
      <rect class="line" x="1547.1" width="4.5" height="1080"></rect>
      <rect class="line" x="615" width="4.5" height="1080"></rect>
      <rect class="line" x="684.6" width="1.8" height="1080"></rect>
      <rect class="line" x="1369.4" width="1.8" height="1080"></rect>
      <rect class="line" x="1310.2" width="0.9" height="1080"></rect>
      <rect class="line" x="1233.4" width="0.9" height="1080"></rect>
      <rect class="line" x="124.2" width="0.9" height="1080"></rect>
      <rect class="line" x="1818.4" width="4.5" height="1080"></rect>
      <rect class="line" x="70.3" width="4.5" height="1080"></rect>
      <rect class="line" x="1618.6" width="1.8" height="1080"></rect>
      <rect class="line" x="455.9" width="1.8" height="1080"></rect>
      <rect class="line" x="328.7" width="1.8" height="1080"></rect>
      <rect class="line" x="300.8" width="4.6" height="1080"></rect>
      <rect class="line" x="1666.4" width="0.9" height="1080"></rect>
  </g>
  <g class="lights">
      <path class="light1 light" d="M619.5,298.4H615v19.5h4.5V298.4z M619.5,674.8H615v9.8h4.5V674.8z M619.5,135.1H615v5.6h4.5V135.1z         M619.5,55.5H615v68.7h4.5V55.5z"></path>
      <path class="light2 light" d="M1258.2,531.9h-4.5v8.1h4.5V531.9z M1258.2,497.9h-4.5v17.9h4.5V497.9z M1258.2,0h-4.5v25.3h4.5V0z         M1258.2,252.2h-4.5v42.4h4.5V252.2z"></path>
      <path class="light3 light" d="M875.1,123.8h-1.8v4h1.8V123.8z M875.1,289.4h-1.8v24.1h1.8V289.4z M875.1,0h-1.8v31.4h1.8V0z M875.1,50.2         h-1.8v11.5h1.8V50.2z"></path>
      <path class="light4 light" d="M1101.8,983.8h-1.8v8.2h1.8V983.8z M1101.8,1075.9h-1.8v4.1h1.8V1075.9z M1101.8,873.7h-1.8v4.2h1.8V873.7z         M1101.8,851h-1.8v18.2h1.8V851z"></path>
      <path class="light5 light" d="M686.4,822.7h-1.8v3.8h1.8V822.7z M686.4,928.4h-1.8v23h1.8V928.4z M686.4,1043.8h-1.8v36.2h1.8V1043.8z"></path>
      <path class="light6 light" d="M1551.6,860.9h-4.4v-34.1h4.4V860.9z M1551.6,533.5h-4.4v-13.9h4.4V533.5z M1551.6,1080h-4.4v-89.1h4.4V1080z"></path>
      <path class="light7 light" d="M1311.1,707.7h-0.9V698h0.9V707.7z M1311.1,436.8h-0.9v-58.9h0.9V436.8z M1311.1,140.7h-0.9V48h0.9V140.7z"></path>
      <path class="light8 light" d="M125.1,514.5h-0.9v-9.7h0.9V514.5z M125.1,243.6h-0.9v-58.9h0.9V243.6z"></path>
      <path class="light9 light" d="M305.4,806.7h-4.6v-42.5h4.6V806.7z M305.4,398.5h-4.6v-17.3h4.6V398.5z M305.4,1080h-4.6V968.8h4.6V1080z"></path>
      <path class="light10 light" d="M1822.9,170.7h-4.5v13.7h4.5V170.7z M1822.9,435.1h-4.5v6.8h4.5V435.1z M1822.9,55.9h-4.5v4h4.5V55.9z         M1822.9,0h-4.5v48.3h4.5V0z"></path>
      <path class="light11 light" d="M1666.4,331.5h0.9v9.7h-0.9V331.5z M1666.4,602.4h0.9v58.9h-0.9V602.4z M1666.4,898.5h0.9v92.7h-0.9V898.5z"></path>
      <path class="light12 light" d="M1620.4,200.7h-1.8v6.4h1.8V200.7z M1620.4,469.1h-1.8v39h1.8V469.1z M1620.4,0h-1.8v51h1.8V0z M1620.4,81.3         h-1.8V100h1.8V81.3z"></path>
      <path class="light13 light" d="M74.8,201h-4.5v16.2h4.5V201z M74.8,512.3h-4.5v8.1h4.5V512.3z M74.8,65.8h-4.5v4.6h4.5V65.8z M74.8,0h-4.5         v56.8h4.5V0z"></path>
      <path class="light14 light" d="M1371.2,655.3h-1.8v6.3h1.8V655.3z M1371.2,829.7h-1.8v37.9h1.8V829.7z M1371.2,1020.3h-1.8v59.7h1.8V1020.3z"></path>
      <path class="light15 light" d="M1234.3,898.1h-0.9v-4.9h0.9V898.1z M1234.3,762.5h-0.9v-29.5h0.9V762.5z M1234.3,614.4h-0.9v-46.4h0.9V614.4z         "></path>
      <path class="light16 light" d="M457.7,1010.8h-1.8v-18.1h1.8V1010.8z M457.7,507.5h-1.8V398h1.8V507.5z"></path>
      <path class="light17 light" d="M330.5,170.7h-1.8v13.7h1.8V170.7z M330.5,435.1h-1.8v6.8h1.8V435.1z M330.5,55.9h-1.8v4h1.8V55.9z M330.5,0         h-1.8v48.3h1.8V0z"></path>
  </g>
</svg>
</div>
<div id="progressbar" class="invis">
  Game Starting In....
  <br>
  <progress value="5" max="5" id="progressBar"></progress>
  <br>
  <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue">
          <div class="circle-clipper left">
              <div class="circle"></div>
          </div><div class="gap-patch">
              <div class="circle"></div>
          </div><div class="circle-clipper right">
              <div class="circle"></div>
          </div>
      </div>

      <div class="spinner-layer spinner-red">
          <div class="circle-clipper left">
              <div class="circle"></div>
          </div><div class="gap-patch">
              <div class="circle"></div>
          </div><div class="circle-clipper right">
              <div class="circle"></div>
          </div>
      </div>

      <div class="spinner-layer spinner-yellow">
          <div class="circle-clipper left">
              <div class="circle"></div>
          </div><div class="gap-patch">
              <div class="circle"></div>
          </div><div class="circle-clipper right">
              <div class="circle"></div>
          </div>
      </div>

      <div class="spinner-layer spinner-green">
          <div class="circle-clipper left">
              <div class="circle"></div>
          </div><div class="gap-patch">
              <div class="circle"></div>
          </div><div class="circle-clipper right">
              <div class="circle"></div>
          </div>
      </div>
  </div>
</div>


<div ng-if="gameMade" class="frame frame1 col-3.5">
    <div class='containermetal'>
      <div class='metal'></div>
  </div>
  <div class='containermetal2'>
      <div class='metal'></div>
  </div>
  <div class='containermetal3'>
      <div class='metal'></div>
  </div>
  <div class='containermetal4'>
      <div class='metal'></div>
  </div>
  <div class="" id="howToPlayModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content howtoplaymodal" style="border-radius: 0 !important;">

            <div class="">

                <table class="table table-condensed">
                    <tr><th>KEYBOARD & D-PAD</th><th>ACTION</th></tr>
                    <tbody>
                        <tr class="browser-buttons"><th><kbd class="material"> ENTER </kbd> <kbd class="material"> START </kbd></th><td>START GAME</td></tr>
                        <tr class="browser-buttons"><th><kbd class="letters" style="visiblity:invisible"><i class="material-icons d">P</i></kbd> <kbd class="letters"><i class="material-icons">pause</i></kbd></th><td>PAUSE GAME</td></tr>
                        <tr class="browser-buttons"><th><kbd class="letters" style="visiblity:invisible"><i class="material-icons d">R</i></kbd> <kbd class="material"> RESET </kbd></th><td>RESET GAME</td></tr>
                        <tr class="browser-buttons"><th><kbd class="material">ESC</kbd><kbd class="material">OFF</kbd></th><td>EXIT GAME</td></tr>
                    </tbody>
                    <tr><th>GAMEPLAY</th><th>MOVE</th></tr>
                    <tbody>
                        <tr class="browser-buttons"><th><kbd class="letters" style="visiblity:invisible"><i class="material-icons d">E</i></kbd></th><td>TOGGLE FULLSCREEN</td></tr>
                        <tr><th><kbd class="letters" style="visiblity:invisible"><i class="material-icons d">Z</i></kbd> <kbd class="letters" style="visiblity:invisible"><i class="material-icons d">X</i></kbd></th><td>ROTATE LEFT/RIGHT</td></tr>
                        <tr><th><kbd class="material"><i class="material-icons">keyboard_arrow_up</i></kbd><kbd class="material"> SPIN </kbd></th><td>ROTATE BLOCK</td></tr>

                        <tr><th><kbd class="material"><i class="material-icons">keyboard_arrow_left</i></kbd><kbd class="material"> LEFT </kbd></th><td>MOVE LEFT</td></tr>
                        <tr><th><kbd class="material"><i class="material-icons">keyboard_arrow_down</i></kbd><kbd class="material"> DOWN </kbd></th><td>MOVE DOWN</td></tr>

                        <tr><th><kbd class="material"><i class="material-icons">keyboard_arrow_right</i></kbd><kbd class="material"> RIGHT </kbd></th><td>MOVE RIGHT</td></tr>
                        <tr class="browser-buttons"><th><kbd class="material">SPACEBAR</kbd><kbd class="material">DROP</kbd></th><td>DROP BLOCK</td></tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
<div ng-show="gameMade" class="mobileDevices container" id="mobileDevice"  style="height:80vh;">

    <div id="tetrisScreen" class="row">
        <div class="grid" id="tetris" class="col-md-8 col-sm-7" style="z-index:8 !important">
        </div>
        <div class="right-column col-md-4 col-sm-3" style="z-index:8 !important">
            <div id="next" class="grid">Next:</div>
            <div id="preview" class="grid"></div>
            <div class="grid">Score: <div id="score" style="max-width: 1px !important"> 0</div></div>
            <div class="grid" >Level: <div id="level"> 0</div></div>
            <br><div id="pauseGame" class="grid pauseGame" ><i class="close material-icons small" id="pauser" data-id="pauser" ng-click="" style="float:left">pause</i></div><br>
            <div class="">
                <div class="grid" id="tetris2" class="col-md-8"></div>
            </div>

        </div>
    </div>
    <div id="base">
        <button style="position:absolute;visibility: hidden"><span class="silplate pt3" data-key="F" data-id="fkey"></span></button>

        <div class="power"></div>
        <div class="as"></div>
        <div class="l"><i class="fa fa-caret-left"></i> <div class="onoff" id="onoff">ESC•OFF</div><i class="fa fa-caret-right"></i></div>


        <div class="screenbase">
          <div class="llu"></div>
          <div class="lld"></div>
          <h4 class="h4">Dot matrix with stereo sound</h4>
          <div class="lru"></div>
          <div class="lrd"></div>

          <div class="battery"></div>

          <div class="screens">

            <div class="screenoff">



            </div>
        </div>
    </div>


    <div class="cntrls">
        <div class="gbnin"></div>
        <h6 class="h6">TM</h6>

    </div>

</div>

<div class="system">

  <div class=" screen"></div>
  <div class="controls">
    <div class="menu-buttons" style="z-index:10">

      <div id="menu-select" class="button menu select" data-id="menu-select" ><span class="label" data-id="menu-select" >Reset</span></div>
      <div id="startGame" class="button menu start"  data-id="startGame" ><span class="label"  data-id="startGame" style="z-index:5 !important">Start</span></div>

  </div>
  <div class="d-pad" style="z-index:10">
      <div id="d-up" class="button d up" data-id="d-up"><p class="labelfont" data-id="d-up">Spin</p><span class="label" data-id="d-up">&#9650</span></div>
      <div id="d-right" class="button d right" data-id="d-right"><p class="labelfont" data-id="d-right">Right</p><span class="label">&#9654</span></div>
      <div id="d-down" class="button d down" data-id="d-down"><p class="labelfont" data-id="d-down">Down</p><span class="label">&#9660</span></div>
      <div id="d-left" class="button d left" data-id="d-left"><p class="labelfont" data-id="d-left">Left</p><span class="label">&#9664</span></div>
  </div>
  <div class="control-buttons" style="z-index:10">
      <div id="control-a" class="button control a" data-id="control-a"><span class="label" data-id="control-a">Rotate</span></div>
      <div id="control-b" class="button control b" data-id="control-b"><span class="label" data-id="control-b">Drop</span></div>
  </div>
</div>
</div>




</div>

<div class="row " ng-if="!isLoggedIn" style="height:100%">

    <div class="jumbotron col-12 bigone signinjumbo">
      <h1 class="display-3">Sign In!</h1>
      <hr class="my-4">
      E-Mail:
      <input type="text" id="email" name="NAME" ng-model="userCredentials.email">
      <br>
      Password:
      <input type="password" name="NAME" ng-model="userCredentials.password">
      <p class="lead">
        <button class="btn btn-lg" ng-click="logInWithEmailAndPassword(userCredentials)" href="#" role="button">Log In</button>
        <a ng-href="#!/register"><button class="btn btn-lg"  role="button">Register</button></a>
        <a><button class="btn btn-lg"  ng-click="logInGoogle()" role="button">Google Sign In</button></a>
    </p>
</div>
</div>


<div class="row no-gutters" style="height:100%;overflow-y: scroll; overflow-x: hidden !important;">
    <div ng-if="!gameMade" ng-show="isLoggedIn" class="jumbotron col-12 col-md-5 gamelobby" style="z-index:9;">
      <h1 class="display-3" style="margin:0;">Game Lobby</h1>
      <hr class="my-4" style="background:white">



      <button class="btn waves-effect waves-light" ng-repeat="item in board" data-id="{{item.user}}" ng-click="joinGame(item.user)" >
        <i class="fa fa-trophy" aria-hidden="true" style="display:block;z-index:-1"> {{item.name}}</i> <input type="button"  type="submit" name="action" value="Join Game"><i class="material-icons right">send</i>


    </button>







</div>


<div class="col-md-7 row col-12" >
    <div ng-if="!gameMade" ng-show="isLoggedIn" class="jumbotron col-12 bigone directions" style="z-index:9;">
      <h1 class="display-3" style="margin:0;">Rules</h1>
      <hr class="my-4" style="background:white">

      <p>Make A Game Session or Join One!</p>
  </div>
  <div ng-if="isLoggedIn && !gameMade" class="jumbotron col-12 creategame" style="z-index:0;">
    <h1 class="display-3">Create Game!</h1>

    <hr class="my-4" style="background:white">
    Lobby Name:
    <input type="text" id="email" name="NAME" ng-model="gameCredentials.name"><br>
    Password:
    <input type="password" name="NAME" ng-model="gameCredentials.password">
    <p class="lead leads">
        <button class="btn btn-lg" ng-click="initializeGame(gameCredentials)" role="button">Create!</button>
    </p>
</div>

</div>
</div>




<div ng-show="gameMade" class="frame frame2">
  <div class='containermetaltr'>
      <div class='metal'></div>
  </div>
  <div class='containermetalrt'>
      <div class='metal'></div>
  </div>
  <h6>SOUNDS & EFFECTS</h6>
  <label>Music</label>
  <div>
    <div class = "switch" ><label>Off<input type = "checkbox" checked>
      <span class = "lever" id="music"></span>On</label></div>
      <label>Effects</label>
      <div class = "switch" ><label>Off<input type = "checkbox" checked>
          <span class = "lever" id="sound"></span>On</label></div>
      </div>

  </div>
